:root {
	--ifx-engineering-color: #928285;
	--ifx-ocean-color: #9BC3B7;
	--ifx-lawn-color: #AEC067;
	--ifx-berry-color: #AB377A;
	--ifx-sun-color: #F07F3C;
	--ifx-sand-color: #FFE054;
	
	--ifx-engineering-dark-color: #644F54;
	--ifx-ocean-dark-color: #5EA290;
	--ifx-lawn-dark-color: #769F3B;
	--ifx-berry-dark-color: #812161;
	--ifx-sun-dark-color: #E36319;
	--ifx-sand-dark-color: #F5C631;
	
	--ifx-logo-red-color: #E30034;
	--ifx-logo-blue-color: #005DA9;
}


div.product_table {
    display: "none";
}
body {
    font-family: "Arial";
}
ul.tree li {
    list-style-type: none;
    position: relative;
}
ul.tree li ul {
    display: none;
}
ul.tree li.open > ul {
    display: block;
}

ul.tree li a {
    color: black;
    text-decoration: none;
}

ul.tree li a:before {
    height: 1em;
    padding:5 .5em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .2em;
}


ul.tree li > a:not(:last-child):before {
	content: "+";
	font-weight: bold;
    color: black; 
	
}

ul.tree li.open > a:not(:last-child):before {
    content: "-";
	font-weight: bold;
    color: black;
}

ul.tree li.open > a > span.new-prod-flag {
	display: none;
}

li > a:last-child:hover{
	background-color: gainsboro;
}

td {
    vertical-align: top;
}

table, td {
    border: 1px solid var(--ifx-engineering-color);
    border-collapse: collapse;
	color: black;
}

table, th {
    border: 1px solid white;
    border-collapse: collapse;
	color: black;
}


th {
    background: var(--ifx-ocean-color);
}

tr td:first-child {
    background: var(--ifx-ocean-color);
    font-weight: bold;
	color: black
}



a.main-menu-but:hover {
    color: var(--ifx-logo-red-color);
}


span.package, span.housing {
    font-weight: bold;
    color: black;
}

span.technology {
    font-weight: bold;
    color: var(--ifx-berry-dark-color);
}

span.configuration {
    font-weight: bold;
    color: var(--ifx-berry-dark-color);
}

span.features {
    font-weight: bold;
    color: var(--ifx-berry-dark-color);
}

span.qualification, span.applications {
    font-weight: bold;
    color: var(--ifx-berry-dark-color);
}


span.product {
    font-weight: bold;
    color: var(--ifx-logo-blue-color);
}

span.measure_value {
    font-weight: bold;
    color: black;
}

span.measure_unit {
    font-weight: bold;
    color: var(--ifx-engineering-color);
}

td.nowrap{
    white-space: nowrap;
}

.hideable {
    display: none
}

button {
    margin: 2px 2px;
}

button {
	background-color: var(--ifx-ocean-color);
	font-weight: bold;
	color: var(--ifx-engineering-dack-color);
	opacity: 0.5

/*border-radius: 10px;*/
/*border: 2px solid #f44336;*/
}

button:hover {
background-color: var(--ifx-engineering-color);
}

button.pressed {
	background-color: var(--ifx-berry-color);
	font-weight: bold;
	color: white;
	opacity: 1.0
/*border-radius: 10px;*/
/*border: 2px solid #f44336;*/
}

span.buttons_header {
    font-family: Verdana;
    font-weight: bold
}

a.main-menu-but {
	margin: 10px;
	text-decoration: none;
	color: var(--ifx-logo-blue-color);
}

/*
a.main-menu-but:visited{
	margin: 10px;
	text-decoration: none;
	color: var(--ifx-logo-blue-color);
}
*/
a.main-menu-but:hover {
	color: var(--ifx-logo-red-color);
}

a.main-menu-but.selected_main_menu_item {
	font-weight: bold;
	color: var(--ifx-logo-red-color);
}

#download_zip_link {
    margin: 10px;
    font-weight: bold;
    color: var(--ifx-logo-red-color)
}

span.new-prod-flag {
	font-size: 50%;
	background-color: var(--ifx-berry-color);
	color: white;
	font-weight: bold;
	padding: 2px;
	margin: 2px;
	border-radius: 5px;
	/*text-align: center;*/
	display: inline-block;
	vertical-align: top;
}

ul.tree li:not(.open).search-highlight {
    background-color: var(--ifx-sand-color);
}
